<!-- Main content of page -->
<main class="container">
  <!-- Header of main contentt -->
  <header>
    <h1>Converter to Qr Code</h1>
    <figure>
      <img src="./images/qrcode.svg" alt="qrcode" />
    </figure>
  </header>

  <section class="perint-section" data-counter-section="0">
    <!-- Background blur -->
    <div class="background-blur"></div>

    <!-- Section select input type -->
    <%- include('./select_input_type') %>

    <!-- Section input file-->
    <%- include('./input_file') %>

    <!-- Section Enter manual-->
    <%- include('./enter_manual') %>

    <!-- Section show item-->
    <%- include('./show_item') %>

    <!-- Section qr-code style-->
    <%- include('./qrcode_style') %>
  </section>
</main>
